/* Barlow font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Margins and paddings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* General body styles */
body {
    font-family: 'Barlow', sans-serif;
    background-color: #2c2c2c;
    color: #e0e0e0;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header and footer styles */
header, footer {
    background-color: #1a1a1a;
    color: #ffd500;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffd500;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #ffd500;
    color: #1a1a1a;
    border-radius: 4px;
}

/* Container for main content */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #3d3d3d;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
}

/* Columns for the index page */
.left-column, .right-column {
    flex: 1;
    padding: 20px;
}

.left-column {
    margin-right: 20px;
}

.right-column {
    max-width: 300px;
}

/* Sections */
.project-info, .course-info, .table-of-contents {
    margin-bottom: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

/* Headings */
h1, h2 {
    color: #ffd500;
    margin-bottom: 20px;
}

/* Paragraph and other text elements */
p {
    margin-bottom: 20px;
}

/* Preformatted text */
pre {
    background-color: #1a1a1a;
    color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    
}

/* Link styles */
a {
    color: #ffd500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer p {
    margin: 0;
}

/* List styles */
ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #ffd500;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li a:hover {
    background-color: #ffd500;
    color: #1a1a1a;
    border-radius: 4px;
}

/* Logo styles */
.logo img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Book styles */
.book {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.book img {
    margin-right: 20px;
}
